
.header{
    margin-bottom: 100px;
    position: fixed;
    width: 100%;
    display: flex;
    align-items: center;
    height: 55px;
    box-shadow: 0 0 15px rgba(0,0,0,0.7);
    background-color: @gray;
    opacity: .97;
    backdrop-filter: blur(10px);

    &__logo{
        display: flex;
        align-items: center;
        color: @white;
        font-weight: 600;

        i{
            margin-right: 10px;
            font-size: 50px;
            color: @white;
        }
    }
}

