
.rate{
    @media (min-width: 768px) {
        padding: 30px;
        font-size: 18px;
    }

    padding: 15px;
    font-size: 14px;

    &__headline{
        margin-top: 20px;
        color: @purple;
        border: 5px solid @purple;
        padding: 5px;
        border-radius: 15px;
    }

    &__table{
        padding: 15px;
        border-radius: 15px;
        background-color: @gray;
        color: @white;
        box-shadow: 0 0 10px rgba(0,0,0,0.5);

        th {
            text-align: left;
            border-bottom: 2px solid @purple;
            color: @purple;
            text-shadow: 0 0 10px rgba(0, 0, 0, 0.5) ;
        }
    }
}