
.rate{
    padding: 15px;
    font-size: 14px;
    @media (min-width: 768px) {
        padding: 30px;
        font-size: 18px;
    }
    
    &__headline{
        font-size: 25px;
        color: @gray;
        text-align: center;
        border-bottom: 5px solid @gray;
        width: 80%;
        @media (min-width: 768px) {
            width: 50%;
        }
    }

    &__table{
        padding: 15px;
        border-radius: 15px;
        background-color: @gray;
        color: @white;
        box-shadow: 0 0 10px rgba(0,0,0,0.5);

        th {
            text-align: left;
            border-bottom: 2px solid @purple;
            color: @purple;
            text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
        }
    }
}